/* Fondo degradado ANIMADO igual al de tu Django */
.header-bg {
    width: 100%;
    height: 180px;
    background: linear-gradient(90deg, #007bd5, #00e600);
    background-size: 300% 300%;
    animation: mover 8s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Animación del degradado */
@keyframes mover {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Barra de búsqueda */
.search-box {
    margin-top: 15px;
    width: 420px;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 16px;
}

/* Contenedor del logo */
.logo-box {
    margin-top: 10px;
}
